https://github.com/sharebook-kr/pykrx

In [ ]:
from pykrx import stock
# 티커리스트 조회
# input : 일자(미 입력 시 최근 영업일 DEFAULT)
#   - market: KOSPI(DEFAULT), KOSDAQ, KONEX, ALL
tickers = stock.get_market_ticker_list("20210830", market='KOSDAQ')
print(tickers)

In [ ]:
# 종목이름 조회
# input : ticker
for ticker in stock.get_market_ticker_list():
  name = stock.get_market_ticker_name(ticker)
  print(name)

In [15]:
# 일자별 OHLCV 조회
# input : 시작일/종료일/티커/(Optional)(d/m/y)
df = stock.get_market_ohlcv_by_date("20210827", "20210830", "005930")
df.head(3)

               시가     고가     저가     종가       거래량
날짜
2021-08-27  74300  75000  73800  74300  15172748
2021-08-30  75400  75500  74200  74600  12686999

In [55]:
# 전체 종목 시세 조회
# input : 날짜
#   - market: KOSPI(DEFAULT), KOSDAQ, KONEX, ALL
df = stock.get_market_ohlcv_by_ticker("20210830")
print(df.head(3))

           시가     고가     저가     종가     거래량        거래대금   등락률
티커
095570   5850   5970   5770   5920   68587   399761400  2.07
006840  26350  27400  26100  27300   56037  1499906350  3.80
027410   6320   6410   6300   6360  232110  1477499330  2.09

935

In [3]:
# 종목별 DIV/BPS/PER/EPS 조회
# input : 날짜
#   - market: KOSPI(DEFAULT), KOSDAQ, KONEX, ALL
df = stock.get_market_fundamental_by_ticker("20210108")
df

          BPS        PER       PBR   EPS       DIV   DPS
티커
095570   6802   4.621094  0.669922   982  6.609375   300
006840  62448  11.687500  0.409912  2168  2.960938   750
027410  15699  17.453125  0.310059   281  2.240234   110
282330  36022  16.093750  3.910156  8763  1.910156  2700
138930  25415   3.509766  0.229980  1647  6.230469   360
...       ...        ...       ...   ...       ...   ...
069260  15970  14.351562  1.629883  1812  3.849609  1000
000540  10926   5.878906  0.270020   510  0.000000     0
000547      0   0.000000  0.000000     0  0.000000     0
000545      0   0.000000  0.000000     0  0.000000     0
003280    276   0.000000  0.930176     0  0.000000     0

[895 rows x 6 columns]

In [ ]:
# 일자별 DIV/BPS/PER/EPS 조회
# input : 시작날짜, 종료날짜, 종목
#  - freq: d/m/y
df = stock.get_market_fundamental_by_date("20210104", "20210108", "005930")
print(df.head(2))

In [18]:
# 일자별 거래대금 조회
# input : 시작날짜, 종료날짜, 종목
#   - on: 매수, 매도, 순매수(DEFAULT)
df = stock.get_market_trading_value_by_date("20210115", "20210122", "005930")
df
df.index[0]

Timestamp('2021-01-15 00:00:00')

In [37]:
# 일자별 거래량 조회
# input : 시작날짜, 종료날짜, 종목
#   - on: 매수, 매도, 순매수(DEFAULT)
df = stock.get_market_trading_volume_by_date("20210115", "20210122", "005930")
df

               기관합계    기타법인       개인    외국인합계  전체
날짜
2021-01-15 -5006115  288832  7485785 -2768502   0
2021-01-18   505669  262604   151228  -919501   0
2021-01-19  1139258  -34023 -2044543   939308   0
2021-01-20 -4157919  262408  4917655 -1022144   0
2021-01-21  -712099 -321732  2890389 -1856558   0
2021-01-22 -6384793   56478  9884815 -3556500   0

In [144]:
# 투자자별 거래대금 조회
# input : 시작날짜, 종료날짜, 종목
df = stock.get_market_trading_value_by_investor("20210115", "20210122", "005930")
# print(df)
# print(df.loc['개인', '매수'])
# print(df.loc['개인', '매도'])
# print(df.loc['개인', '순매수'])
df

                   매도              매수            순매수
투자자구분
금융투자    2580964135000   2309054317700  -271909817300
보험       153322228800     44505136200  -108817092600
투신       258073006600    150715203700  -107357802900
사모        65167773900     60862926800    -4304847100
은행         3369626100      4004806100      635180000
기타금융       3477393800      4877166100     1399772300
연기금 등   4242868457300   3442541806900  -800326650400
기관합계    7307242621500   6016561363500 -1290681258000
기타법인     133693205700    178684949600    44991743900
개인      6918846810800   8972911580500  2054064769700
외국인     2891788072484   2077977924484  -813810148000
기타외국인     15364164000     20799056400     5434892400
전체     17266934874484  17266934874484              0

In [7]:
# 투자자별 거래량 조회
# input : 시작날짜, 종료날짜, 종목
df = stock.get_market_trading_volume_by_investor("20210826", "20210826", "005930")
# print(df.loc['기관합계'])
# print(df.loc['기관합계'][0])
# print(df.loc['기관합계'][1])
df

             매도        매수      순매수
투자자구분
금융투자    1842774   1361611  -481163
보험        28340     19501    -8839
투신        71713     39198   -32515
사모        26427     23972    -2455
은행            0      8000     8000
기타금융      26591         0   -26591
연기금 등   7251929   7053998  -197931
기관합계    9247774   8506280  -741494
기타법인      45168    169923   124755
개인      3578936   5480229  1901293
외국인     3788399   2503018 -1285381
기타외국인     11217     12044      827
전체     16671494  16671494        0

In [38]:
# 투자자별 순매수 상위종목 조회
# input : 시작날짜, 종료날짜, 시장(KOSPI/KOSDAQ), 투자자(금융투자/보험/투신/사모/은행/기타금융/연기금/기관합계/기타법인/개인/외국인/기타외국인/전체)
df = stock.get_market_net_purchases_of_equities_by_ticker("20210115", "20210122", "KOSPI", "개인")
df

,종목명,매도거래량,매수거래량,순매수거래량,매도거래대금,매수거래대금,순매수거래대금
티커,,,,,,,
005930,삼성전자,79567418,102852747,23285329,6918846810800,8972911580500,2054064769700
000270,기아차,44440252,49880626,5440374,3861283906400,4377698855000,516414948600
005935,삼성전자우,15849762,20011325,4161563,1207133611400,1528694164400,321560553000
051910,LG화학,709872,921975,212103,700823533000,908593419000,207769886000
096770,SK이노베이션,4848359,5515777,667418,1298854139000,1478890602000,180036463000
...,...,...,...,...,...,...,...
090430,아모레퍼시픽,1623553,1161213,-462340,369035759000,262552157500,-106483601500
035720,카카오,2681319,2404104,-277215,1205582480500,1077562119500,-128020361000
006400,삼성SDI,1544311,1333957,-210354,1156440902000,990487435000,-165953467000
285130,SK케미칼,2555085,2085241,-469844,1010511216500,823227903000,-187283313500
035420,NAVER,4644834,3449785,-1195049,1512026990000,1109562184000,-402464806000

In [39]:
# 종목별 시가총액 조회
# input : 날짜
df = stock.get_market_cap_by_ticker("20200625")
df

            종가             시가총액       거래량          거래대금       상장주식수
티커
005930   51900  309831714345000  18541624  970494909540  5969782550
000660   84300   61370599369500   3397112  287640892200   728002365
207940  815000   53924475000000    163339  133594217000    66165000
035420  269500   44268984952500   1196267  325381436500   164263395
068270  316000   42640845660000    918369  291688043500   134939385
...        ...              ...       ...           ...         ...
001529   30450       2732034900      2426      73806550       89722
238500     481       2252121846     10841       5711160     4682166
208890     999       2148669180       127        115157     2150820
267810    1150       1779050000      1300       1395000     1547000
224020     450       1215000000         2           900     2700000

[2475 rows x 5 columns]

In [40]:
# ETF티커 조회
# input : 날짜
tickers = stock.get_etf_ticker_list("20200717")
print(tickers[:10])

['292340', '159800', '285000', '287300', '287310', '290080', '284980', '287320', '287330', '252400']

In [ ]:
# ETF이름 조회
# input: 티커
tickers = stock.get_etf_ticker_list("20021014")
for ticker in tickers:
  print(stock.get_etf_ticker_name(ticker))

In [43]:
# 일자별 ETF OHLCV 조회
# input : 시작날짜, 종료날짜, 종목
#   - d/m/y
df = stock.get_etf_ohlcv_by_date("20210104", "20210108", "292340")
type(df)
# print(df.head())

pandas.core.frame.DataFrame

In [ ]:
# 종목별 ETF OHLCV 조회
# input : 날짜
df = stock.get_etf_ohlcv_by_ticker("20210325")
df

In [ ]:
from pykrx import stock
from dataclasses import dataclass
import time

@dataclass
class Info:
  close: int = None
  volume_buy: int = None
  volume_sell: int = None
  volume_netbuy: int = None
  amount_buy: int = None
  amount_sell: int = None
  amount_netbuy: int = None
  individual_volume_buy: int = None
  individual_volume_sell: int = None
  individual_volume_netbuy: int = None
  individual_amount_buy: int = None
  individual_amount_sell: int = None
  individual_amount_netbuy: int = None
  foreign_volume_buy: int = None
  foreign_volume_sell: int = None
  foreign_volume_netbuy: int = None
  foreign_amount_buy: int = None
  foreign_amount_sell: int = None
  foreign_amount_netbuy: int = None
  institution_volume_buy: int = None
  institution_volume_sell: int = None
  institution_volume_netbuy: int = None
  institution_amount_buy: int = None
  institution_amount_sell: int = None
  institution_amount_netbuy: int = None
  corporation_volume_buy: int = None
  corporation_volume_sell: int = None
  corporation_volume_netbuy: int = None
  corporation_amount_buy: int = None
  corporation_amount_sell: int = None
  corporation_amount_netbuy: int = None

ticker_name, ticker_info = {}, {}
for ticker in stock.get_market_ticker_list()[:5]:
  name = stock.get_market_ticker_name(ticker)
  ticker_name[ticker] = name
  ticker_info[ticker] = {}

start = "20210825"
end = "20210830"

for ticker in ticker_name:
  df_close = stock.get_market_ohlcv_by_date(start, end, ticker)
  # 날짜(index) : 기관합계 / 기타법인 / 개인 / 외국인합계 / 전체
  df_volume_buy = stock.get_market_trading_volume_by_date(start, end, ticker, on="매수")
  df_volume_sell = stock.get_market_trading_volume_by_date(start, end, ticker, on="매도")
  df_volume_netbuy = stock.get_market_trading_volume_by_date(start, end, ticker, on="순매수")
  time.sleep(1)
  df_amount_buy = stock.get_market_trading_value_by_date(start, end, ticker, on="매수")
  df_amount_sell = stock.get_market_trading_value_by_date(start, end, ticker, on="매도")
  df_amount_netbuy = stock.get_market_trading_value_by_date(start, end, ticker, on="순매수")
  
  for idx in df_close.index:
    date = str(idx).split(' ')[0].replace('-', '')
    ticker_info[ticker][date] = Info()
    ticker_info[ticker][date].close = df_close.loc[idx, "종가"]
    ticker_info[ticker][date].institution_volume_buy, ticker_info[ticker][date].corporation_volume_buy, ticker_info[ticker][date].individual_volume_buy, ticker_info[ticker][date].foreign_volume_buy, ticker_info[ticker][date].volume_buy = df_volume_buy.loc[idx] 
    ticker_info[ticker][date].institution_volume_sell, ticker_info[ticker][date].corporation_volume_sell, ticker_info[ticker][date].individual_volume_sell, ticker_info[ticker][date].foreign_volume_sell, ticker_info[ticker][date].volume_sell = df_volume_sell.loc[idx] 
    ticker_info[ticker][date].institution_volume_netbuy, ticker_info[ticker][date].corporation_volume_netbuy, ticker_info[ticker][date].individual_volume_netbuy, ticker_info[ticker][date].foreign_volume_netbuy, ticker_info[ticker][date].volume_netbuy = df_volume_netbuy.loc[idx] 

    ticker_info[ticker][date].institution_amount_buy, ticker_info[ticker][date].corporation_amount_buy, ticker_info[ticker][date].individual_amount_buy, ticker_info[ticker][date].foreign_amount_buy, ticker_info[ticker][date].amount_buy = df_amount_buy.loc[idx] 
    ticker_info[ticker][date].institution_amount_sell, ticker_info[ticker][date].corporation_amount_sell, ticker_info[ticker][date].individual_amount_sell, ticker_info[ticker][date].foreign_amount_sell, ticker_info[ticker][date].amount_sell = df_amount_sell.loc[idx] 
    ticker_info[ticker][date].institution_amount_netbuy, ticker_info[ticker][date].corporation_amount_netbuy, ticker_info[ticker][date].individual_amount_netbuy, ticker_info[ticker][date].foreign_amount_netbuy, ticker_info[ticker][date].amount_netbuy = df_amount_netbuy.loc[idx] 

  # for idx in df.index:
  #   time.sleep(1)
  #   date = str(idx).split(' ')[0].replace('-', '')
  #   ticker_info[ticker][date] = Info()
  #   ticker_info[ticker][date].close = df.loc[idx, "종가"]
  #   ticker_info[ticker][date].institution
  #   df_buy.loc[idx]

  #   df_volume = stock.get_market_trading_volume_by_investor(date, date, ticker)    
  #   individual_volume = df_volume.loc['개인']
  #   foreign_volume = df_volume.loc['외국인']
  #   pension_volume = df_volume.loc['연기금 등']
  #   institutation_volume = df_volume.loc['기관합계'] - pension_volume
  #   volume = df_volume.loc['전체']
  #   ticker_info[ticker][date].pension_volume_sell, ticker_info[ticker][date].pension_volume_buy, ticker_info[ticker][date].pension_volume_netbuy = pension_volume
  #   ticker_info[ticker][date].institutation_volume_sell, ticker_info[ticker][date].institutation_volume_buy, ticker_info[ticker][date].institutation_volume_netbuy = institutation_volume
  #   ticker_info[ticker][date].individual_volume_sell, ticker_info[ticker][date].individual_volume_buy, ticker_info[ticker][date].individual_volume_netbuy = individual_volume
  #   ticker_info[ticker][date].foreign_volume_sell, ticker_info[ticker][date].foreign_volume_buy, ticker_info[ticker][date].foreign_volume_netbuy = foreign_volume
  #   ticker_info[ticker][date].volume_sell, ticker_info[ticker][date].volume_buy, ticker_info[ticker][date].volume_netbuy = volume

  #   df_amount = stock.get_market_trading_value_by_investor(date, date, ticker)   
  #   individual_amount = df_amount.loc['개인']
  #   foreign_amount = df_amount.loc['외국인']
  #   pension_amount = df_amount.loc['연기금 등']
  #   institutation_amount = df_amount.loc['기관합계'] - pension_amount
  #   amount = df_amount.loc['전체']
  #   ticker_info[ticker][date].pension_amount_sell, ticker_info[ticker][date].pension_amount_buy, ticker_info[ticker][date].pension_amount_netbuy = pension_amount
  #   ticker_info[ticker][date].institutation_amount_sell, ticker_info[ticker][date].institutation_amount_buy, ticker_info[ticker][date].institutation_amount_netbuy = institutation_amount
  #   ticker_info[ticker][date].individual_amount_sell, ticker_info[ticker][date].individual_amount_buy, ticker_info[ticker][date].individual_amount_netbuy = individual_amount
  #   ticker_info[ticker][date].foreign_amount_sell, ticker_info[ticker][date].foreign_amount_buy, ticker_info[ticker][date].foreign_amount_netbuy = foreign_amount
  #   ticker_info[ticker][date].amount_sell, ticker_info[ticker][date].amount_buy, ticker_info[ticker][date].amount_netbuy, = amount

ticker_info

In [43]:
# 일자별 ETF OHLCV 조회
# input : 시작날짜, 종료날짜, 종목
#   - d/m/y
df = stock.get_etf_ohlcv_by_date("20210104", "20210108", "292340")
print(df.head())

pandas.core.frame.DataFrame

In [1]:
# pykrx to csv
from pykrx import stock
import pandas as pd
import time
import os
from openpyxl import load_workbook

try:
  ticker_name, ticker_info = {}, {}
  # for ticker in stock.get_market_ticker_list()[:10]:
  for ticker in stock.get_market_ticker_list()[:5]:
    name = stock.get_market_ticker_name(ticker)
    ticker_name[ticker] = name
  # for ticker in stock.get_market_ticker_list(market='KOSDAQ'):
    # name = stock.get_market_ticker_name(ticker)
    # ticker_name[ticker] = name

  start = "20210330"
  end = "20210902"

  for ticker in ticker_name:
    try:
      df = stock.get_market_ohlcv_by_date(start, end, ticker)
      # 날짜(index) : 기관합계 / 기타법인 / 개인 / 외국인합계 / 전체
      # df_volume_buy = stock.get_market_trading_volume_by_date(start, end, ticker, on="매수").rename(columns={'기관합계':'기관합계(거래량)-매수', '기타법인':'기타법인(거래량)-매수', '개인':'개인(거래량)-매수', '외국인합계':'외국인합계(거래량)-매수', '전체':'전체(거래량)-매수'})
      # df_volume_sell = stock.get_market_trading_volume_by_date(start, end, ticker, on="매도").rename(columns={'기관합계':'기관합계(거래량)-매도', '기타법인':'기타법인(거래량)-매도', '개인':'개인(거래량)-매도', '외국인합계':'외국인합계(거래량)-매도', '전체':'전체(거래량)-매도'})
      df_volume_netbuy = stock.get_market_trading_volume_by_date(start, end, ticker, on="순매수").rename(columns={'기관합계':'기관합계(거래량)-순매수', '기타법인':'기타법인(거래량)-순매수', '개인':'개인(거래량)-순매수', '외국인합계':'외국인합계(거래량)-순매수', '전체':'전체(거래량)-순매수'})
      time.sleep(1)
      # df_amount_buy = stock.get_market_trading_value_by_date(start, end, ticker, on="매수").rename(columns={'기관합계':'기관합계(거래대금)-매수', '기타법인':'기타법인(거래대금)-매수', '개인':'개인(거래대금)-매수', '외국인합계':'외국인합계(거래대금)-매수', '전체':'전체(거래대금)-매수'})
      # df_amount_sell = stock.get_market_trading_value_by_date(start, end, ticker, on="매도").rename(columns={'기관합계':'기관합계(거래대금)-매도', '기타법인':'기타법인(거래대금)-매도', '개인':'개인(거래대금)-매도', '외국인합계':'외국인합계(거래대금)-매도', '전체':'전체(거래대금)-매도'})
      df_amount_netbuy = stock.get_market_trading_value_by_date(start, end, ticker, on="순매수").rename(columns={'기관합계':'기관합계(거래대금)-순매수', '기타법인':'기타법인(거래대금)-순매수', '개인':'개인(거래대금)-순매수', '외국인합계':'외국인합계(거래대금)-순매수', '전체':'전체(거래대금)-순매수'})
      # df_foreign = stock.get_exhaustion_rates_of_foreign_investment_by_date(start, end, ticker)

      df_total = pd.concat([df, df_volume_netbuy, df_amount_netbuy], axis = 1, join='inner')
      df_total.insert(0, '티커', str(ticker))
      df_total.insert(1, '종목이름', ticker_name[ticker])
      ticker_info[ticker] = df_total

      if not os.path.exists('test.csv'):
        ticker_info[ticker].to_csv('test.csv', sep=',', mode='w', encoding='utf-8-sig')
      else:
        ticker_info[ticker].to_csv('test.csv', sep=',', mode='a', encoding='utf-8-sig', header=False)
    except:
      pass
except Exception as ex:
  print(ex)

In [ ]:
# pykrx to mysql
from sqlalchemy import create_engine
import pymysql
import pandas as pd
from pykrx import stock
import time
from openpyxl import load_workbook
from datetime import datetime, timedelta

ADDR = '192.168.56.100'
PORT = '3306'
DB = 'INDEX_DUCK'
ID = 'root'
PW = 'root'

try:
  ticker_name = {}
  for ticker in stock.get_market_ticker_list():
    name = stock.get_market_ticker_name(ticker)
    ticker_name[ticker] = name
  for ticker in stock.get_market_ticker_list(market='KOSDAQ'):
    name = stock.get_market_ticker_name(ticker)
    ticker_name[ticker] = name

  start = "20210903"
  end = str(datetime.now().date()).replace('-', '')
  

  for ticker in ticker_name:
    print(ticker)
    try:
      df = stock.get_market_ohlcv_by_date(start, end, ticker).drop(['시가', '고가', '저가'], axis=1).rename(columns={'종가':'close', '거래량':'volume'})
      df.index.names = ['date']
      df_volume_netbuy = stock.get_market_trading_volume_by_date(start, end, ticker, on="순매수").rename(columns={'기관합계':'insVol', '기타법인':'etcVol', '개인':'indVol', '외국인합계':'forVol'}).drop(['전체'], axis=1)
      df_amount_netbuy = stock.get_market_trading_value_by_date(start, end, ticker, on="순매수").rename(columns={'기관합계':'insAmt', '기타법인':'etcAmt', '개인':'indAmt', '외국인합계':'forAmt'}).drop(['전체'], axis=1)
      df_total = pd.concat([df, df_volume_netbuy, df_amount_netbuy], axis = 1, join='inner')
      df_total.insert(0, 'ticker', str(ticker))
      df_total.insert(1, 'name', ticker_name[ticker])

      db_connection = create_engine('mysql+pymysql://'+ ID +':'+ PW +'@'+ ADDR +':'+ PORT +'/'+ DB, encoding='utf-8')
      conn = db_connection.connect()

      df_total.to_sql(name='stocks', con=db_connection, if_exists='append', index=True, index_label="date")

      conn.close()
    except Exception as e:
      print(e)
      pass
except Exception as ex:
  print(ex)

In [ ]:
# 누적 순매수 계산
import pandas as pd
import pymysql
from datetime import datetime, timedelta

ADDR = '192.168.56.100'
PORT = '3306'
DB = 'INDEX_DUCK'
ID = 'root'
PW = 'root'

periods = [['last_1m', 1], ['last_3m', 3], ['last_6m', 6], ['last_12m', 12]]

### Drop & Create table
try:
  db = pymysql.connect(host=ADDR, port=int(PORT), user=ID, passwd=PW, db=DB, charset='utf8', cursorclass=pymysql.cursors.DictCursor)
  cursor = db.cursor()
  dropTableSql = "DROP TABLE last_1m, last_3m, last_6m, last_12m"
  cursor.execute(dropTableSql)
except Exception as e:
  print(e)
  pass
for period in periods:
  createTableSql = """
    CREATE TABLE %s  (
      date        date,
      ticker      varchar(10),
      name        varchar(255),
      close       bigint,
      volume      bigint,
      insVolCum   bigint,
      etcVolCum   bigint,
      indVolCum   bigint,
      forVolCum   bigint,
      insAmtCum   bigint,
      etcAmtCum   bigint,
      indAmtCum   bigint,
      forAmtCum   bigint,
      primary key (ticker, date)
    ) engine = InnoDB;
  """ % (period[0])
  cursor.execute(createTableSql)
db.commit()
db.close()

db = pymysql.connect(host=ADDR, port=int(PORT), user=ID, passwd=PW, db=DB, charset='utf8')
cursor = db.cursor()
try:
  getTickersSql = "SELECT DISTINCT ticker FROM stocks"
  cursor.execute(getTickersSql)
  tickers = list(cursor.fetchall())


  for period in periods:
    date = str((datetime.now() - timedelta(weeks=period[1]*4)).date())
    for ticker in tickers:
      print(ticker)
      getTickerInfoSql = "SELECT * FROM stocks WHERE ticker = '" + ticker[0] + "' AND date > '" + date + "'"
      cursor.execute(getTickerInfoSql)
      tickerInfos = list(map(list, cursor.fetchall()))
      if len(tickerInfos) < 1:
        continue

      tickerCums = [tickerInfos[0]]
      for idx in range(1, len(tickerInfos)):
        cur = tickerInfos[idx]
        bef = tickerCums[idx - 1]
        cum = [a + b for a, b in zip(bef[5:], cur[5:])]
        tickerCums.append(cur[:5] + cum)
      try:
        updateInfoSql = "REPLACE INTO " + period[0] + "(date, ticker, name, close, volume, insVolCum, etcVolCum, indVolCum, forVolCum, insAmtCum, etcAmtCum, indAmtCum, forAmtCum) VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
        cursor.executemany(updateInfoSql, tickerCums)
        db.commit()
      except Exception as ex1:
        print('ex1', ex1)
        pass
except Exception as ex2:
  print('ex2', ex2)
  pass

db.close()

In [ ]:
# 상관계수 구하기
import pandas as pd
import pymysql
from sqlalchemy import create_engine

ADDR = '192.168.56.100'
PORT = '3306'
DB = 'INDEX_DUCK'
ID = 'root'
PW = 'root'

ticker_cap, ticker_fund = {}, {}
periods = ['last_1m', 'last_3m', 'last_6m', 'last_12m']

### Drop & Create table
db = pymysql.connect(host=ADDR, port=int(PORT), user=ID, passwd=PW, db=DB, charset='utf8', cursorclass=pymysql.cursors.DictCursor)
cursor = db.cursor()
dropTableSql = "DROP TABLE correl"
cursor.execute(dropTableSql)
createTableSql = """
  CREATE TABLE correl(
  ticker      varchar(10),
  name        varchar(255),
  period      varchar(10),
  insVolCumCor   double,
  etcVolCumCor   double,
  indVolCumCor   double,
  forVolCumCor   double,
  insAmtCumCor   double,
  etcAmtCumCor   double,
  indAmtCumCor   double,
  forAmtCumCor   double,
  primary key (ticker, period)
) engine = InnoDB;
"""
cursor.execute(createTableSql)
db.commit()
db.close()

### Calculate correl 
for period in periods:
  try:
    db = pymysql.connect(host=ADDR, port=int(PORT), user=ID, passwd=PW, db=DB, charset='utf8', cursorclass=pymysql.cursors.DictCursor)
    cursor = db.cursor()

    getTickersSql = "SELECT DISTINCT ticker FROM %s" % (period)
    cursor.execute(getTickersSql)
    tickers = cursor.fetchall()
    for ticker in tickers:
      t = ticker['ticker']
      print(t)
      getTickerInfoSql = "SELECT * FROM %s WHERE ticker = '%s'" % (period, t)
      cursor.execute(getTickerInfoSql)
      df = pd.DataFrame(cursor.fetchall())
      name = df.loc()[:, 'name'].iloc[0]
      if len(df) < 1:
        continue

      corrDf = df.corr().loc()[:, ['insVolCumCor', 'etcVolCumCor', 'indVolCumCor', 'forVolCumCor', 'insAmtCumCor', 'etcAmtCumCor', 'indAmtCumCor', 'forAmtCumCor']].iloc[:1]
      corrDf.insert(0, 'ticker', t)
      corrDf.insert(1, 'name', name)
      corrDf.insert(2, 'period', period)
      try:
        write_connection = create_engine('mysql+pymysql://'+ID+':'+PW+'@'+ADDR+':'+PORT+'/'+DB, encoding='utf-8', pool_pre_ping=True).connect()
        corrDf.to_sql(name="correl", con=write_connection, if_exists='append', index=False)
      except Exception as ex1:
        print('ex1', ex1)
        pass
      finally:
        write_connection.close()
  except Exception as ex2:
    print('ex2', ex2)
    db.close()  
    pass

In [36]:
# 티커 별 정보 셋팅
from sqlalchemy import create_engine
import pymysql
import pandas as pd
from pykrx import stock
import time
from openpyxl import load_workbook
from datetime import datetime, timedelta

ADDR = '192.168.56.100'
PORT = '3306'
DB = 'INDEX_DUCK'
ID = 'root'
PW = 'root'

### Drop & Create table
db = pymysql.connect(host=ADDR, port=int(PORT), user=ID, passwd=PW, db=DB, charset='utf8', cursorclass=pymysql.cursors.DictCursor)
cursor = db.cursor()
dropTableSql = "DROP TABLE stocks_info"
cursor.execute(dropTableSql)
createTableSql = """
  CREATE TABLE stocks_info  (
    ticker      varchar(10),
    name        varchar(255),
    market      varchar(10),
    cap         bigint,
    bps         double,
    per         double,
    pbr         double,
    eps         double,
    divi        double,
    dps         double,
    primary key (ticker, name)
  ) engine = InnoDB;
"""
cursor.execute(createTableSql)
db.commit()
db.close()

try:
  ticker_name, ticker_cap, ticker_fund = {}, {}, {}

  capDf = stock.get_market_cap_by_ticker(str(datetime.now().date()).replace('-', '')).loc[:, '시가총액']
  fundDf = stock.get_market_fundamental_by_ticker(str(datetime.now().date()).replace('-', ''), market="ALL")
  for ticker in capDf.index:
    ticker_cap[ticker] = capDf.loc[ticker]
  for ticker in fundDf.index:
    ticker_fund[ticker] = list(fundDf.loc[ticker])

  for ticker in stock.get_market_ticker_list():
    name = stock.get_market_ticker_name(ticker)
    ticker_name[ticker] = [name, 'KOSPI']
    
  for ticker in stock.get_market_ticker_list(market='KOSDAQ'):
    name = stock.get_market_ticker_name(ticker)
    ticker_name[ticker] = [name, 'KOSDAQ']

  for ticker in ticker_name:
    if ticker not in capDf.index or ticker not in fundDf.index:
      continue
    print(ticker)
    tickerInfo = [ticker]
    tickerInfo += ticker_name[ticker]
    tickerInfo.append(ticker_cap[ticker])
    tickerInfo += ticker_fund[ticker]

    tickerInfoDf = pd.DataFrame([tickerInfo], columns = ['ticker', 'name', 'market', 'cap', 'bps', 'per', 'pbr', 'eps', 'divi', 'dps'])
    try:
      write_connection = create_engine('mysql+pymysql://'+ID+':'+PW+'@'+ADDR+':'+PORT+'/'+DB, encoding='utf-8', pool_pre_ping=True).connect()
      tickerInfoDf.to_sql(name="stocks_info", con=write_connection, if_exists='append', index=False)
    except Exception as ex1:
      print('ex1', ex1)
      pass
    finally:
      write_connection.close()
except Exception as ex:
  print(ex)

In [44]:
# 정규화 작업
import pandas as pd
import pymysql
from datetime import datetime, timedelta
from sqlalchemy import create_engine
from sklearn.preprocessing import MinMaxScaler

ADDR = '192.168.56.100'
PORT = '3306'
DB = 'INDEX_DUCK'
ID = 'root'
PW = 'root'

periods = ['last_1m', 'last_3m', 'last_6m', 'last_12m']
scaler = MinMaxScaler()

### Drop & Create table
try:
  db = pymysql.connect(host=ADDR, port=int(PORT), user=ID, passwd=PW, db=DB, charset='utf8', cursorclass=pymysql.cursors.DictCursor)
  cursor = db.cursor()
  dropTableSql = "DROP TABLE last_1m_norm, last_3m_norm, last_6m_norm, last_12m_norm"
  cursor.execute(dropTableSql)
except Exception as e:
  print(e)
  pass
for period in periods:
  createTableSql = """
    CREATE TABLE %s  (
      date            date,
      ticker          varchar(10),
      name            varchar(255),
      closeNorm       double,
      volume          bigint,
      insVolCumNorm   double,
      etcVolCumNorm   double,
      indVolCumNorm   double,
      forVolCumNorm   double,
      insAmtCumNorm   double,
      etcAmtCumNorm   double,
      indAmtCumNorm   double,
      forAmtCumNorm   double,
      primary key (ticker, date)
    ) engine = InnoDB;
  """ % (period + '_norm')
  cursor.execute(createTableSql)
db.commit()
db.close()

db = pymysql.connect(host=ADDR, port=int(PORT), user=ID, passwd=PW, db=DB, charset='utf8')
cursor = db.cursor()
try:
  for period in periods:
    # date|ticker|name|close|volume|insVolCum|etcVolCum|indVolCum|forVolCum|insAmtCum|etcAmtCum|indAmtCum|forAmtCum
    getDataSql = "SELECT * FROM " + period
    cursor.execute(getDataSql)
    df = pd.DataFrame(cursor.fetchall())
    tdf = df.copy()
    df[[3, 5, 6, 7, 8, 9, 10, 11, 12]] = scaler.fit_transform(tdf[[3, 5, 6, 7, 8, 9, 10, 11, 12]])
    df.columns = ['date', 'ticker', 'name', 'closeNorm', 'volume', 'insVolCumNorm', 'etcVolCumNorm', 'indVolCumNorm', 'forVolCumNorm', 'insAmtCumNorm', 'etcAmtCumNorm', 'indAmtCumNorm', 'forAmtCumNorm']
    try:
      write_connection = create_engine('mysql+pymysql://'+ID+':'+PW+'@'+ADDR+':'+PORT+'/'+DB, encoding='utf-8', pool_pre_ping=True).connect()
      df.to_sql(name=period + "_norm", con=write_connection, if_exists='append', index=False)
    except Exception as ex1:
      print('ex1', ex1)
      pass
    finally:
      write_connection.close()
except Exception as ex2:
  print('ex2', ex2)
  pass 
db.close()

In [ ]:
# # 이동평균선 구하기
# import pandas as pd
# import pymysql
# from sqlalchemy import create_engine
# from pykrx import stock
# from datetime import datetime

# ticker_cap = {}

# try:
#   # db = pymysql.connect(host='192.168.56.100', port=3306, user='root', passwd='root', db='INDEX_DUCK', charset='utf8', cursorclass=pymysql.cursors.DictCursor)
#   db = pymysql.connect(host='192.168.56.100', port=3306, user='root', passwd='test', db='INDEX_DUCK', charset='utf8', cursorclass=pymysql.cursors.DictCursor)
#   cursor = db.cursor()

#   getTickersSql = "SELECT DISTINCT ticker FROM stocks"
#   cursor.execute(getTickersSql)
#   tickers = cursor.fetchall()
#   db.close()  
#   for ticker in tickers:
#     t = ticker['ticker']
#     print(t)
#     db = pymysql.connect(host='192.168.56.100', port=3306, user='root', passwd='test', db='INDEX_DUCK', charset='utf8', cursorclass=pymysql.cursors.DictCursor)
#     cursor = db.cursor()

#     getTickerInfoSql = "SELECT * FROM %s WHERE ticker = '%s'" % (period, t)
#     cursor.execute(getTickerInfoSql)
#     df = pd.DataFrame(cursor.fetchall())
#     name = df.loc()[:, 'name'].iloc[0]
#     if len(df) < 1:
#       continue

#     corrDf = df.corr().loc()[:, ['insVolCum', 'etcVolCum', 'indVolCum', 'forVolCum', 'insAmtCum', 'etcAmtCum', 'indAmtCum', 'forAmtCum']].iloc[:1]
#     corrDf.insert(0, 'ticker', ticker['ticker'])
#     corrDf.insert(1, 'name', name)
#     corrDf.insert(2, 'period', period)
#     corrDf.insert(3, 'cap', ticker_cap[ticker['ticker']])
#     try:
#       # write_connection = create_engine('mysql+pymysql://root:root@192.168.56.100:3306/INDEX_DUCK', encoding='utf-8')
#       write_connection = create_engine('mysql+pymysql://root:test@192.168.56.100:3306/INDEX_DUCK', encoding='utf-8', pool_pre_ping=True).connect()
#       corrDf.to_sql(name="correl", con=write_connection, if_exists='append', index=False)
#     except Exception as ex1:
#       print('ex1', ex1)
#       pass
#     finally:
#       db.close()  
#       conn.close()
# except Exception as ex2:
#   print('ex2', ex2)
#   pass