https://github.com/sharebook-kr/pykrx

In [2]:
from pykrx import stock
# 티커리스트 조회
# input : 일자(미 입력 시 최근 영업일 DEFAULT)
#   - market: KOSPI(DEFAULT), KOSDAQ, KONEX, ALL
tickers = stock.get_market_ticker_list("20210830")

In [ ]:
# 종목이름 조회
# input : ticker
for ticker in stock.get_market_ticker_list():
  name = stock.get_market_ticker_name(ticker)
  name

In [138]:
# 일자별 OHLCV 조회
# input : 시작일/종료일/티커/(Optional)(d/m/y)
df = stock.get_market_ohlcv_by_date("20210827", "20210830", "005930")
df.head(3)
str(df.index[0]).split(" ")[0].replace('-', '')

'20210827'

In [55]:
# 전체 종목 시세 조회
# input : 날짜
#   - market: KOSPI(DEFAULT), KOSDAQ, KONEX, ALL
df = stock.get_market_ohlcv_by_ticker("20210830")
print(df.head(3))

           시가     고가     저가     종가     거래량        거래대금   등락률
티커
095570   5850   5970   5770   5920   68587   399761400  2.07
006840  26350  27400  26100  27300   56037  1499906350  3.80
027410   6320   6410   6300   6360  232110  1477499330  2.09

935

In [ ]:
# 종목별 DIV/BPS/PER/EPS 조회
# input : 날짜
#   - market: KOSPI(DEFAULT), KOSDAQ, KONEX, ALL
df = stock.get_market_fundamental_by_ticker("20210108")
df

In [ ]:
# 일자별 DIV/BPS/PER/EPS 조회
# input : 시작날짜, 종료날짜, 종목
#  - freq: d/m/y
df = stock.get_market_fundamental_by_date("20210104", "20210108", "005930")
print(df.head(2))

In [44]:
# 일자별 거래대금 조회
# input : 시작날짜, 종료날짜, 종목
#   - on: 매수, 매도, 순매수(DEFAULT)
df = stock.get_market_trading_value_by_date("20210115", "20210122", "005930")
df

                    기관합계         기타법인            개인         외국인합계  전체
날짜
2021-01-15 -440769209300  25442287800  661609085600 -246282164100   0
2021-01-18   42323535000  22682344800   14829121700  -79835001500   0
2021-01-19   95523053500  -3250422500 -173484213300   81211582300   0
2021-01-20 -364476214000  22980632900  430115581000  -88619999900   0
2021-01-21  -60637506300 -27880854000  250285510000 -161767149700   0
2021-01-22 -562644916900   5017754900  870709684700 -313082522700   0

In [37]:
# 일자별 거래량 조회
# input : 시작날짜, 종료날짜, 종목
#   - on: 매수, 매도, 순매수(DEFAULT)
df = stock.get_market_trading_volume_by_date("20210115", "20210122", "005930")
df

               기관합계    기타법인       개인    외국인합계  전체
날짜
2021-01-15 -5006115  288832  7485785 -2768502   0
2021-01-18   505669  262604   151228  -919501   0
2021-01-19  1139258  -34023 -2044543   939308   0
2021-01-20 -4157919  262408  4917655 -1022144   0
2021-01-21  -712099 -321732  2890389 -1856558   0
2021-01-22 -6384793   56478  9884815 -3556500   0

In [144]:
# 투자자별 거래대금 조회
# input : 시작날짜, 종료날짜, 종목
df = stock.get_market_trading_value_by_investor("20210115", "20210122", "005930")
# print(df)
# print(df.loc['개인', '매수'])
# print(df.loc['개인', '매도'])
# print(df.loc['개인', '순매수'])
df

                   매도              매수            순매수
투자자구분
금융투자    2580964135000   2309054317700  -271909817300
보험       153322228800     44505136200  -108817092600
투신       258073006600    150715203700  -107357802900
사모        65167773900     60862926800    -4304847100
은행         3369626100      4004806100      635180000
기타금융       3477393800      4877166100     1399772300
연기금 등   4242868457300   3442541806900  -800326650400
기관합계    7307242621500   6016561363500 -1290681258000
기타법인     133693205700    178684949600    44991743900
개인      6918846810800   8972911580500  2054064769700
외국인     2891788072484   2077977924484  -813810148000
기타외국인     15364164000     20799056400     5434892400
전체     17266934874484  17266934874484              0

In [141]:
# 투자자별 거래량 조회
# input : 시작날짜, 종료날짜, 종목
df = stock.get_market_trading_volume_by_investor("20210826", "20210826", "005930")
df

                  매도             매수           순매수
투자자구분
금융투자    138446043700   102420996600  -36025047100
보험        2123431000     1464746600    -658684400
투신        5399463900     2949056800   -2450407100
사모        1990207100     1803499500    -186707600
은행                 0      596800000     596800000
기타금융      1985305800              0   -1985305800
연기금 등   545926475400   531069289600  -14857185800
기관합계    695870926900   640304389100  -55566537800
기타법인      3412717400    12757699000    9344981600
개인      269578854700   412153612000  142574757300
외국인     284920520300   188507242500  -96413277800
기타외국인      845442200      905518900      60076700
전체     1254628461500  1254628461500             0

In [38]:
# 투자자별 순매수 상위종목 조회
# input : 시작날짜, 종료날짜, 시장(KOSPI/KOSDAQ), 투자자(금융투자/보험/투신/사모/은행/기타금융/연기금/기관합계/기타법인/개인/외국인/기타외국인/전체)
df = stock.get_market_net_purchases_of_equities_by_ticker("20210115", "20210122", "KOSPI", "개인")
df

,종목명,매도거래량,매수거래량,순매수거래량,매도거래대금,매수거래대금,순매수거래대금
티커,,,,,,,
005930,삼성전자,79567418,102852747,23285329,6918846810800,8972911580500,2054064769700
000270,기아차,44440252,49880626,5440374,3861283906400,4377698855000,516414948600
005935,삼성전자우,15849762,20011325,4161563,1207133611400,1528694164400,321560553000
051910,LG화학,709872,921975,212103,700823533000,908593419000,207769886000
096770,SK이노베이션,4848359,5515777,667418,1298854139000,1478890602000,180036463000
...,...,...,...,...,...,...,...
090430,아모레퍼시픽,1623553,1161213,-462340,369035759000,262552157500,-106483601500
035720,카카오,2681319,2404104,-277215,1205582480500,1077562119500,-128020361000
006400,삼성SDI,1544311,1333957,-210354,1156440902000,990487435000,-165953467000
285130,SK케미칼,2555085,2085241,-469844,1010511216500,823227903000,-187283313500
035420,NAVER,4644834,3449785,-1195049,1512026990000,1109562184000,-402464806000

In [39]:
# 종목별 시가총액 조회
# input : 날짜
df = stock.get_market_cap_by_ticker("20200625")
df

            종가             시가총액       거래량          거래대금       상장주식수
티커
005930   51900  309831714345000  18541624  970494909540  5969782550
000660   84300   61370599369500   3397112  287640892200   728002365
207940  815000   53924475000000    163339  133594217000    66165000
035420  269500   44268984952500   1196267  325381436500   164263395
068270  316000   42640845660000    918369  291688043500   134939385
...        ...              ...       ...           ...         ...
001529   30450       2732034900      2426      73806550       89722
238500     481       2252121846     10841       5711160     4682166
208890     999       2148669180       127        115157     2150820
267810    1150       1779050000      1300       1395000     1547000
224020     450       1215000000         2           900     2700000

[2475 rows x 5 columns]

In [40]:
# ETF티커 조회
# input : 날짜
tickers = stock.get_etf_ticker_list("20200717")
print(tickers[:10])

['292340', '159800', '285000', '287300', '287310', '290080', '284980', '287320', '287330', '252400']

In [ ]:
# ETF이름 조회
# input: 티커
tickers = stock.get_etf_ticker_list("20021014")
for ticker in tickers:
  print(stock.get_etf_ticker_name(ticker))

In [43]:
# 일자별 ETF OHLCV 조회
# input : 시작날짜, 종료날짜, 종목
#   - d/m/y
df = stock.get_etf_ohlcv_by_date("20210104", "20210108", "292340")
type(df)
# print(df.head())

pandas.core.frame.DataFrame

In [ ]:
# 종목별 ETF OHLCV 조회
# input : 날짜
df = stock.get_etf_ohlcv_by_ticker("20210325")
df

In [120]:
from pykrx import stock
from dataclasses import dataclass

# ticker_info[ticker][date]
## 0: close
## 1: volume-buy
## 2: volume-sell
## 3: volume-netbuy
## 4: amount-buy
## 5: amount-sell
## 6: amount-netbuy
## 7: individual-volume-buy
## 8: individual-volume-sell
## 9: individual-volume-netbuy
## 10: individual-amount-buy
## 11: individual-amount-sell
## 12: individual-amount-netbuy
## 13: foreign-volume-buy
## 14: foreign-volume-sell
## 15: foreign-volume-netbuy
## 16: foreign-amount-buy
## 17: foreign-amount-sell
## 18: foreign-amount-netbuy
## 19: institution-volume-buy
## 20: institution-volume-sell
## 21: institution-volume-netbuy
## 22: institution-amount-buy
## 23: institution-amount-sell
## 24: institution-amount-netbuy
## 25: pension-volume-buy
## 26: pension-volume-sell
## 27: pension-volume-netbuy
## 28: pension-amount-buy
## 29: pension-amount-sell
## 30: pension-amount-netbuy
## 31: finance-volume-buy
## 32: finance-volume-sell
## 33: finance-volume-netbuy
## 34: finance-amount-buy
## 35: finance-amount-sell
## 36: finance-amount-netbuy

@dataclass
class Info:
  close: int = None
  volume_buy: int = None
  volume_sell: int = None
  volume_netbuy: int = None
  amount_buy: int = None
  amount_sell: int = None
  amount_netbuy: int = None
  individual_volume_buy: int = None
  individual_volume_sell: int = None
  individual_volume_netbuy: int = None
  individual_amount_buy: int = None
  individual_amount_sell: int = None
  individual_amount_netbuy: int = None
  foreign_volume_buy: int = None
  foreign_volume_sell: int = None
  foreign_volume_netbuy: int = None
  foreign_amount_buy: int = None
  foreign_amount_sell: int = None
  foreign_amount_netbuy: int = None
  institution_volume_buy: int = None
  institution_volume_sell: int = None
  institution_volume_netbuy: int = None
  institution_amount_buy: int = None
  institution_amount_sell: int = None
  institution_amount_netbuy: int = None
  pension_volume_buy: int = None
  pension_volume_sell: int = None
  pension_volume_netbuy: int = None
  pension_amount_buy: int = None
  pension_amount_sell: int = None
  pension_amount_netbuy: int = None
  finance_volume_buy: int = None
  finance_volume_sell: int = None
  finance_volume_netbuy: int = None
  finance_amount_buy: int = None
  finance_amount_sell: int = None
  finance_amount_netbuy: int = None

ticker_name, ticker_info = {}, {}
for ticker in stock.get_market_ticker_list():
  name = stock.get_market_ticker_name(ticker)
  ticker_name[ticker] = name
  ticker_info[ticker] = {}

for ticker in ticker_name:
  df = stock.get_market_ohlcv_by_date("20210830", "20210830", ticker)
  for idx in df.index:
    date = str(idx).split(' ')[0].replace('-', '')
    ticker_info[ticker][date] = Info()
    ticker_info[ticker][date].close = df.loc[idx, "종가"]
    stock.get_market_trading_volume_by_investor(date, date, ticker)    
    

# ticker_info["095570"] = {}
# df = stock.get_market_ohlcv_by_date("20210822", "20210825", "095570")
# for idx in df.index:
#   date = str(idx).split(" ")[0]
#   if date in ticker_info["095570"]:
#     ticker_info["095570"][date].close = df.loc[idx, "종가"]
#   else:
#     ticker_info["095570"][date] = Info()
#     ticker_info["095570"][date].close = df.loc[idx, "종가"]



ticker_info

{'095570': {'2021-08-23': Info(close=5800, volume_buy=None, volume_sell=None, volume_netbuy=None, amount_buy=None, amount_sell=None, amount_netbuy=None, individual_buy=None, individual_sell=None, individual_netbuy=None, foreign_buy=None, foreign_sell=None, foreign_netbuy=None, institution_buy=None, institution_sell=None, institution_netbuy=None, pension_buy=None, pension_sell=None, pension_netbuy=None, finance_buy=None, finance_sell=None, finance_netbuy=None),
  '2021-08-24': Info(close=5950, volume_buy=None, volume_sell=None, volume_netbuy=None, amount_buy=None, amount_sell=None, amount_netbuy=None, individual_buy=None, individual_sell=None, individual_netbuy=None, foreign_buy=None, foreign_sell=None, foreign_netbuy=None, institution_buy=None, institution_sell=None, institution_netbuy=None, pension_buy=None, pension_sell=None, pension_netbuy=None, finance_buy=None, finance_sell=None, finance_netbuy=None),
  '2021-08-25': Info(close=5930, volume_buy=None, volume_sell=None, volume_netbuy=None, amount_buy=None, amount_sell=None, amount_netbuy=None, individual_buy=None, individual_sell=None, individual_netbuy=None, foreign_buy=None, foreign_sell=None, foreign_netbuy=None, institution_buy=None, institution_sell=None, institution_netbuy=None, pension_buy=None, pension_sell=None, pension_netbuy=None, finance_buy=None, finance_sell=None, finance_netbuy=None)}}

In [43]:
# 일자별 ETF OHLCV 조회
# input : 시작날짜, 종료날짜, 종목
#   - d/m/y
df = stock.get_etf_ohlcv_by_date("20210104", "20210108", "292340")
print(df.head())

pandas.core.frame.DataFrame